
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.game-box {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game-box div {
   max-width: 100vw; 
   width: 600px;
}

.game-data {
    display: flex;
    border: 1px solid black;
}

.game-data div {
    width: 30%;
    flex-grow: 1;
    display: block;
    text-align: center;
    padding: 1em 0;
}

#game-board {
    margin: 1em 0;
    
    height: 600px;
}

#game-board div {
    /* border: 1px solid lightgrey; */
    /* border-radius: 20px; */
    display: inline-block;
    text-align: center;
}

.start-game {
    padding: 1.5em;
    border-radius: 10px;
    border: none;
    background-color: rgb(72, 160, 56);
}

.time-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    border: 1px solid black;
    padding-top: 1em;
}

.time-info .countdown-outer {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    height: 30px;
}

.countdown-outer .countdown {

    background-color: green;
    width: 100%;
    border-radius: 10px;
    transition: width 0.8s cubic-bezier(0.4, 0, 1, 1)
}



/* Game integral CSS */

.frog {
    background-image: url("../assets/frog.png");
    background-position: center;
    background-size: cover;
    
    z-index: 1;
}

#game-board .lillypad {
    background-image: url('../assets/lilypad.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#game-board .home {
    background-image: url("../assets/frog.png"), url('../assets/lilypad.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
 
#game-board .car {
    background-image: url("../assets/car.png");
    z-index: 2;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


}

#game-board .bus {
    background-color: rgb(142, 50, 50);
    z-index: 2;

}

.water {
    background-color: #0072bb;
}

.grass {
    background-color: green;
    /* background-image: url("../assets/grass.jpg");
    background-position: center;
    background-size: contain; */
}
/* .grass .frog{
    background-image: url("../assets/frog.png"), url('../assets/grass.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 } */
.road {
    background-color: gray;

}
.log {
    background-color: #795548;
}